@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',Georgia, 'Times New Roman', Times, serif;
}

body{
    overflow:hidden;
    opacity: 0%;
    transform: translateY(-10vh);
    animation : show 3s ease-in-out 0s 1 normal forwards, move 2s ease-in-out 0s 1 normal forwards;
}

@keyframes show
{
    0%
    {}
    100%
    {
        opacity: 100%;
    }
}

@keyframes move
{
    0%
    {}
    100%
    {
        transform: translateY(0vh);
    }
}

#design
{
    background-color: rgba(255,255,255,0) !important;
    border:none;
}


@media only screen
and (min-width:577px)
{
    #uldesign
    {
        position: absolute;
        left: 24vw;
        font-size:20px;
    }
    #searchdesign
    {
        position : absolute;
        right: -26vw;
    }
    
}

